$black: #2D2D2A;
$bg: #F5F4DE;

$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;

// Use these after
$type-size-1: 22px;
$type-size-2: 20px;
$type-size-3: 16px;
$type-size-4: 12px;
$type-size-5: 10px;


* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  color: $black;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  width: 95%;

  @media screen and (min-width: 600px) {
    width: 80%;
  }
}

header {
  align-items: center;
  background: $bg;
  display: flex;
  padding: 10px 20px;

  img {
    height: 36px;
  }

  h2 {
    margin-bottom: 0;
    margin-top: 0;
  }

  * {
    margin-right: $space-md;
  }
}

a {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  color: $black;
  font-family: 'Oswald', sans-serif;
}

.h3 {
  font-size: $type-size-3;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table p {
  margin-top: 0;
  margin-bottom: 0;
}

th {
  font-weight: 500;
  padding-bottom: $space-sm;
  text-align: left;
}

tbody td {
  font-weight: 300;
  padding-top: $space-sm;
  padding-bottom: $space-sm;
}

th:first-child,
td:first-child {
  padding-left: .4rem;
}

tbody tr:nth-child(odd) {
  background-color: #ebebeb;
}

.report-annotator-container {
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.pdf-viewer {
  background-color: #ebebeb;
  position: relative;
  width: 100%;
}

.pdf-viewer-buttons {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  z-index: 20;
}

$height: 80vh;
.pdf-viewer-document {
  height: $height;
  padding-top: 2rem;
  overflow: scroll;
}

.react-pdf__Document {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.react-pdf__Page {
  margin-bottom: 2rem;
}

.react-pdf__Page:last-child {
  margin-bottom: 0;
}

$annotatorWidth: 300px;

.annotator-container {
  min-height: $height;
  z-index: 100;
}

.annotator {
  background-color: white;
  display: block;
  min-height: 70vh;
  max-height: 70vh;
  padding: 1rem;
  padding-top: 0;
  overflow-x: scroll;
  width: $annotatorWidth;

  button {
    padding: .75rem;
  }
}

fieldset {
  padding: 0;
  padding-left: 1rem;
  margin-top: .3rem;
}

label {
  display: block;
  margin-top: 1rem;
}

details {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

textarea {
  padding: .25rem;
  width: 100%;
}

select,
input {
  font-size: 1.1rem;
  padding: .1rem;
  width: 100%;
}

button {
  border: 1px solid black;
  border-radius: 0;
  margin-bottom: .3rem;
  margin-top: .6rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

form ~ form {
  margin-top: 1rem;
}
