* {
  box-sizing: border-box;
}

main {
  font-family: sans-serif;
  margin: 0 auto;
  width: 95%;

  @media screen and (min-width: 600px) {
    width: 80%;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

table p {
  margin-top: 0;
  margin-bottom: 0;
}

th {
  text-align: left;
}

tbody td {
  padding-top: .3rem;
  padding-bottom: .3rem;
}

th:first-child,
td:first-child {
  padding-left: .4rem;
}

tbody tr:nth-child(odd) {
  background-color: #ebebeb;
}

.report-annotator-container {
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.pdf-viewer {
  background-color: #ebebeb;
  position: relative;
  width: 100%;
}

.pdf-viewer-buttons {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  position: sticky;
  left: 0;
  top: 0;
  width: 10%;
  z-index: 20;
}

.pdf-viewer-document {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}

$annotatorWidth: 300px;

.annotator-container {
  min-height: 80vh;
  z-index: 100;
}

.annotator {
  background-color: white;
  display: block;
  min-height: 70vh;
  max-height: 70vh;
  padding: 1rem;
  padding-top: 0;
  overflow-x: scroll;
  width: $annotatorWidth;
  
  button {
    padding: .75rem;
  }
}

fieldset {
  padding: 0;
  padding-left: 1rem;
  margin-top: .3rem;
}

label {
  display: block;
  margin-top: 1rem;
}

details {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

textarea {
  padding: .25rem;
  width: 100%;
}

select,
input {
  font-size: 1.1rem;
  padding: .1rem;
  width: 100%;
}

button {
  border: 1px solid black;
  border-radius: 0;
  margin-bottom: .3rem;
  margin-top: .6rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

form ~ form {
  margin-top: 1rem;
}